<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="public/libs/jquery/jquery.js"></script>
    <script src="public/libs/bootstrap/js/bootstrap.js"></script>
    <script src="public/libs/socket.io/dist/socket.io.js"></script>
    <script src="public/libs/angular/angular.js"></script>
    <script src="public/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="public/libs/angular-socket-io/socket.js"></script>
    <script src="public/libs/ng-json-explorer/src/angular-json-explorer.js"></script>
    <link rel="stylesheet" href="public/libs/ng-json-explorer/src/angular-json-explorer.css">
    <link rel="stylesheet" href="public/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/style.css">
    <script src="public/js/app.js"></script>
    <title>Console Server</title>
</head>
<body ng-app="console">
    <div ng-controller="consoleCtrl">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <div ng-repeat="res in responseServer" class="row content-item-json">
                    <label class="col-md-2 label-json">{{res.key}}</label>
                    <json-explorer class="content-json col-md-10" data="res.value" ng-init="fn.keysRes(res)" collapsed="true"></json-explorer>
                </div>
                <!--<json-explorer ng-repeat="res in responseServer" class="content-json" data="res.value" ng-init="fn.keysRes(res)" collapsed="true"></json-explorer>-->
            </div>
        </div>
    </div>
</body>
</html>